$montserrat: 'Montserrat', sans-serif;
$merriweather: 'Merriweather', serif;
$raleway: 'Raleway', sans-serif;

//weight

//colors
$grey-header: #eff0f2;
$grey-bg: #f9fbfb;
$blue-hover: #6ff5ea;
$grey-title: #343434;
$grey-text: #a6a7a7;
$grey-univers-title:#323333;
$grey-univers-subtitle: #848585;