@import 'libs';
@import 'vars';

* {
    box-sizing: border-box;
}

body {
    font-family: $raleway;
    font-size: 16px;
    line-height: 1.5;
    color: $grey-text;
}

.container {
    width: 1140px;
    margin: 0 auto;

    @media (max-width: 1140px) {
        width: 100%;
        // padding: 0px 15px;
    }

}

@import 'header';

//global items
.g--button {
    padding: 18px 43px;
    font-size: 18px;
    color: #777879;
    background-color: transparent;
    text-transform: capitalize;
    border: 2px solid #777879;
    cursor: pointer;

    &:active,
    &:focus {
        outline: none;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:hover {
        background-color: $blue-hover;
    }

}

.global-items {
    text-align: center;

    .g--title {
        padding-top: 130px;
        margin-bottom: 0;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 38px;
        color: $grey-univers-title;
        text-transform: uppercase;

        @media (max-width: 576px) {
            padding-top: 70px;
            font-size: 24px;
        }

        @media (min-width: 576px) and (max-width: 992px) {
            padding-top: 90px;
            font-size: 28px;
        }
    }

    .g--subtitle {
        margin-bottom: 120px;
        color: $grey-univers-subtitle;
        text-transform: uppercase;

        @media (max-width: 576px) {
            margin-bottom: 70px;
        }

        @media (min-width: 576px) and (max-width: 992px) {
            margin-bottom: 90px;
        }
    }
}
h2{
    margin-block-start: 0;
}

@import 'about-us',
'feature-works',
'our-services',
'team',
'they-say',
'logotips',
'contacts',
'footer';












// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}